<div class="pickwindow">
    <p>You have acheived the highest honor a pawn can obtain.</p>
    <p>As a reward you shall receive a new title</p>
    <p>Choose your new life:</p>
    <div class="propeices">
        <div class="blackspace">
            <div class="C player1" (click)="clickpeice('C')"></div>
        </div>
        <div class="whitespace">
            <div class="B player1" (click)="clickpeice('B')"></div>
        </div>
        <div class="blackspace">
            <div class="H player1" (click)="clickpeice('H')"></div>
        </div>
        <div class="whitespace">
            <div class="Q player1" (click)="clickpeice('Q')"></div>
        </div>
    </div>
</div>