<div id="nav" [ngClass]="['flex',('navgradient'+selectedstyle()),('mainbackgroundcolor'+selectedstyle())]">
    <div class="flex left">
        @if(this.user()){
            <a [ngClass]="['navitem',('navitem'+selectedstyle()),('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle()),('navitemclip'+selectedstyle())]" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                <p class="navtext">{{worddic()[0]}}</p>
            </a>
            <a [ngClass]="['navitem',('navitem'+selectedstyle()),('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle()),('navitemclip'+selectedstyle())]" routerLink="/opengames" routerLinkActive="active" ariaCurrentWhenActive="page">
                <p class="navtext">{{worddic()[1]}}</p>
            </a>
            <a [ngClass]="['navitem',('navitem'+selectedstyle()),('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle()),('navitemclip'+selectedstyle())]" routerLink="/rank" routerLinkActive="active" ariaCurrentWhenActive="page">
                <p class="navtext">{{worddic()[2]}}</p>
            </a>
        }
    </div>
    <a routerLink="/" class="middle">
        <div [ngClass]="['logo',('logo'+selectedstyle()),('bodycolor'+selectedstyle())]"></div>
    </a>
    <div class="flex right">
        <div [ngClass]="['languageitem',('navitem'+selectedstyle()),('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle()),('navitemclip'+selectedstyle())]" (click)="slidelanguage()">
            <p class="languagetext">Language</p>
            <p class="languagetext">sprache</p>
            <p class="languagetext">Langue</p>
        </div>
        @if(this.user()){
            <a [ngClass]="['navitem',('navitem'+selectedstyle()),('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle()),('navitemclip'+selectedstyle())]" routerLink="/settings" routerLinkActive="active" ariaCurrentWhenActive="page">
                <p class="navtext">{{worddic()[3]}}</p>
            </a>
            <div (click)="logOut()" [ngClass]="['navitem',('navitem'+selectedstyle()),('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle()),('navitemclip'+selectedstyle())]">
                <p class="navtext">{{worddic()[4]}}</p>
            </div>
        }@else{
            <a [ngClass]="['navitem',('navitem'+selectedstyle()),('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle()),('navitemclip'+selectedstyle())]" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
                <p class="navtext">
                    {{worddic()[5]}}
                </p>
            </a>
        }
    </div>
    <div [ngClass]="['languageslide',('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle()),('navitemclip'+selectedstyle())]" [@showlanguage]="{value: showlanguage}">
        <div [ngClass]="['languageoption',('mainbackgroundcolor'+selectedstyle())]" (click)="languagechange('eng')">
            <p class="centertext">English</p>
        </div>
        <div [ngClass]="['languageoption',('mainbackgroundcolor'+selectedstyle())]" (click)="languagechange('de')">
            <p class="centertext">Deutsch</p>
        </div>
        <div [ngClass]="['languageoption',('mainbackgroundcolor'+selectedstyle())]" (click)="languagechange('fr')">
            <p class="centertext">Français</p>
        </div>
    </div>
</div>