<div id="nav" [ngClass]="['flex',('navgradient'+selectedstyle()),('mainbackgroundcolor'+selectedstyle())]">
    <div class="flex left">
        <a [ngClass]="['navitem',('navitem'+selectedstyle()),('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle())]" routerLink="/" [routerLinkActive]="['secondbackgroundcolor'+selectedstyle()]" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">
            <p class="navtext">{{worddic()[0]}}</p>
        </a>
        @if(this.user()){
            <a [ngClass]="['navitem',('navitem'+selectedstyle()),('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle())]" routerLink="/opengames" [routerLinkActive]="['secondbackgroundcolor'+selectedstyle()]" ariaCurrentWhenActive="page">
                <p class="navtext">{{worddic()[1]}}</p>
            </a>
            <a [ngClass]="['navitem',('navitem'+selectedstyle()),('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle())]" routerLink="/rank" [routerLinkActive]="['secondbackgroundcolor'+selectedstyle()]" ariaCurrentWhenActive="page">
                <p class="navtext">{{worddic()[2]}}</p>
            </a>
        }
    </div>
    <div class="middle">
        <clip-path [ngClass]="['logo',('logo'+selectedstyle()),('bodycolor'+selectedstyle())]"></clip-path>
    </div>
    <div class="flex right">
        <div [ngClass]="['languageitem',('navitem'+selectedstyle()),('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle())]" (click)="slidelanguage()">
            <p class="languagetext">Language</p>
            <p class="languagetext">sprache</p>
            <p class="languagetext">Langue</p>
        </div>
        @if(this.user()){
            <a [ngClass]="['navitem',('navitem'+selectedstyle()),('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle())]" routerLink="/settings" [routerLinkActive]="['secondbackgroundcolor'+selectedstyle()]" ariaCurrentWhenActive="page">
                <p class="navtext">{{worddic()[3]}}</p>
            </a>
            <div (click)="logOut()" [ngClass]="['navitem',('navitem'+selectedstyle()),('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle())]">
                <p class="navtext">{{worddic()[4]}}</p>
            </div>
        }@else{
            <a [ngClass]="['navitem',('navitem'+selectedstyle()),('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle())]" routerLink="/login" [routerLinkActive]="['secondbackgroundcolor'+selectedstyle()]" ariaCurrentWhenActive="page">
                <p class="navtext">
                    {{worddic()[5]}}
                </p>
            </a>
        }
    </div>
    <div [ngClass]="['languageslide',('maintextcolor'+selectedstyle()),('navitemgradient'+selectedstyle()),('navitemclip'+selectedstyle())]" [@showlanguage]="{value: showlanguage}">
        <div [ngClass]="['languageoption',('mainbackgroundcolor'+selectedstyle())]" (click)="languagechange('eng')">
            <p class="centertext">English</p>
        </div>
        <div [ngClass]="['languageoption',('mainbackgroundcolor'+selectedstyle())]" (click)="languagechange('de')">
            <p class="centertext">Deutsch</p>
        </div>
        <div [ngClass]="['languageoption',('mainbackgroundcolor'+selectedstyle())]" (click)="languagechange('fr')">
            <p class="centertext">Français</p>
        </div>
    </div>
</div>