<div id="nav" class="flex">
    <div class="flex left">
        <a class="navitem" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><p class="navtext">Home</p></a>
        <a class="navitem" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><p class="navtext">Open Games</p></a>
    </div>
    <div class="middle">
        <div class="logo">{{this.user().username}}</div>
    </div>
    <div class="flex right">
        <!-- @if(this.user()){
            <div class="navitem">Settings</div>
            <div (click)="logOut()" class="navitem"><p>Logout</p></div>
        }@else{
            <a class="navitem" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"><p class="navtext">Login</p></a>
        } -->
        @if(this.user().username!=""){
            <div class="navitem"><p>Settngs</p></div>
            <div (click)="logOut()" class="navitem"><p>Logout</p></div>
        }@else{
            <a class="navitem" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"><p class="navtext">
                login
            </p></a>
        }
    </div>
</div>