.displayoff{
    display: none;
}
.displayon{
    display: block;
}

.page{
    position: absolute;
    top:10%;
    height:90%;
    width:100%;
}

.save{
    border-radius: 5px;
}
.saveicon{
    clip-path:var(--saveclip);
    transition:background-color 1s;
}
.undo{
    border-radius: 5px;
}
.undoicon{
    clip-path:var(--undoclip);
    transition:background-color 1s;
}
.returntostart{
    border-radius: 5px;
}
.returnicon{
    clip-path:var(--undoclip);
    transition:background-color 1s;
}


.showlogbutton{
    z-index: 20;
    display: flex;
}
.showloghouse{
    margin: auto;
    position: relative;
    aspect-ratio: 1/1;
    border-radius: 50px;
    transition:background-color 1s;
}
.showlogbuttonicon{
    clip-path: var(--showlogiconclip);
    height: 100%;
    width:100%;
}
.movelog{
    position: absolute;
    top:10%;
    left:-1%;
    width:0%;
    height:90%;
    overflow-y: scroll;
    display: block;
    z-index: 10;
    border-right:5px solid black;

}
.board{
    position: absolute;
    top:12%;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-rows: repeat(8,12.5%);
    grid-template-columns: repeat(8,12.5%);
}
.buttonhouse{
    line-break: anywhere;
}
@media only screen and (orientation: landscape) {
    .board{
        height:80%;
        --widthA: calc(100vw - 80vh);
        left:calc(var(--widthA) / 2);
    }
    .buttonhouse{
        position: absolute;
        top:12%;
        --widthA: calc(100vw - 80vh);
        width:calc(var(--widthA) / 2);
        height:90%;
    }
    .showlogbutton{
        position: absolute;
        width:50%;
        aspect-ratio: 2/3;
        max-width: 100px;
        max-height:31%;
    }
    .showloghouse{
        height:98%;
        aspect-ratio: 1/1;
    }
    .save{
        display: flex;
        position: absolute;
        top:33%;
        left:1%;
        width:95%;
        max-width:200px;
        max-height:31%;
        aspect-ratio: 2/1;
        border-radius:10px;
        box-shadow: 5px 5px 10px black;
    }
    .undo{
        display: flex;
        position: absolute;
        top:66%;
        left:1%;
        width:95%;
        max-width: 200px;
        max-height:31%;
        aspect-ratio: 2/1;
        text-align: center;
        border-radius:10px;
        box-shadow: 5px 5px 10px black;
    }
    .returntostart{
        display: flex;
        position: absolute;
        top:33%;
        left:1%;
        width:95%;
        max-width:200px;
        aspect-ratio: 2/1;
        border-radius:10px;
        box-shadow: 5px 5px 10px black;
    }
    .b1{
        position: absolute;
        left:0%;
        top:0%;
        height:100%;
        width:100%;
    }
    .b2{
        position: absolute;
        left:0%;
        top:0%;
        height:100%;
        width:100%;
    }
    .b3{
        position: absolute;
        left:0%;
        top:0%;
        height:100%;
        width:100%;
    }
    .icon{
        position: relative;
        top:5%;
        left:0%;
        height:90%;
        aspect-ratio: 1/1;
    }
    .buttontext{
        position: relative;
        margin:auto;
        font-size: 2vw;
    }
  }
@media only screen and (orientation: portrait) {
    .showloghouse{
        width:98%;
        aspect-ratio: 1/1;
    }
    @media (min-aspect-ratio:4/5){
        .board{
            width:90%;
            left:9%;
        }
        .buttonhouse{
            position: absolute;
            top:12%;
            width:9%;
            height:calc(90vw);
        }
        .showlogbutton{
            position: absolute;
            top:0%;
            width:100%;
            aspect-ratio: 2/3;
        }
        .save{
            position:absolute;
            top:37%;
            left:1%;
            width:95%;
            height:27%;
            text-align: center;
            border-radius:10px;
            box-shadow: 5px 5px 10px black;
        }
        .undo{
            position: absolute;
            top:74%;
            left:1%;
            width:95%;
            height:26%;
            text-align: center;
            border-radius:10px;
            box-shadow: 5px 5px 10px black;
        }
        .returntostart{
            position:absolute;
            top:37%;
            left:1%;
            width:95%;
            height:27%;
            text-align: center;
            border-radius:10px;
            box-shadow: 5px 5px 10px black;
        }
        .icon{
            position: relative;
            top:10%;
            left:3%;
            width:90%;
            aspect-ratio: 1/1;
        }
        .buttontext{
            position: relative;
            font-size: 3vw;
        }
    }
    @media (max-aspect-ratio: 4/5) {
        .board{
            width:100%;
            left:0%;
        }
        .buttonhouse{
            --BoardBottom: calc(12vh + 100vw);
            --SpaceUnderBoard: calc(100vh - var(--BoardBottom));
            position: absolute;
            top:var(--BoardBottom);
            width:100%;
            height:var(--SpaceUnderBoard);
            display: flex;
            justify-content: space-between;
        }
        .showlogbutton{
            position: relative;
            top:0%;
            left:0%;
            height:100%;
            width:10%;
        }
        .save{
            position: relative;
            top:5%;
            height:90%;
            aspect-ratio: 3/2;
            text-align: center;
            display: flex;
            border-radius:10px;
            box-shadow: 5px 5px 10px black;
        }
        .undo{
            position: relative;
            top:5%;
            height:90%;
            aspect-ratio: 3/2;
            text-align: center;
            display: flex;
            border-radius:10px;
            box-shadow: 5px 5px 10px black;
        }
        .returntostart{
            position: relative;
            top:5%;
            height:90%;
            aspect-ratio: 3/2;
            text-align: center;
            display: flex;
            border-radius:10px;
            box-shadow: 5px 5px 10px black;
        }
        .b1{
            position: absolute;
            left:0%;
            top:0%;
            height:100%;
            width:100%;
        }
        .b2{
            position: absolute;
            left:0%;
            top:0%;
            height:100%;
            width:100%;
        }
        .b3{
            position: absolute;
            left:0%;
            top:0%;
            height:100%;
            width:100%;
        }
        .icon{
            position: relative;
            top:5%;
            left:5%;
            height:90%;
            aspect-ratio: 1/1;
        }
        .buttontext{
            position: relative;
            margin:auto;
            font-size: 4vw;
            border-radius: 5px;
        }

    }
}


.whitespace{
    border:1px solid black;
    width: 100%;
    height: 100%;
}
.blackspace{
    border:1px solid black;
    width: 100%;
    height: 100%;
}
.legalspace{
    border:1px solid black;
    width: 100%;
    height: 100%;
}
.Q{
    position: relative;
    width:95%;
    margin-top:2%;
    margin-left:2%;
    aspect-ratio: 1/1;
    z-index: 2;
}
.Qbackground{
    position: relative;
    aspect-ratio: 1/1; 
    margin-top: -95%; 
    width:95%;
    margin-left:2%;
    z-index: 1;
}
.Qshadow{
    position: relative;
    aspect-ratio: 1/1; 
    margin-top: -96%; 
    width:95%;
    margin-left:2%;
}
.C{
    position: relative;
    margin-left: 0%;
    margin-top: 0%;
    width:100%;
    aspect-ratio: 1/1; 
    z-index: 2;
}
.Cbackground{
    position: relative;
    margin-left: 0%;
    margin-top: -100%;
    width:100%;
    aspect-ratio: 1/1; 
    z-index: 1;
}
.Cshadow{
    position: relative;
    aspect-ratio: 1/1; 
    margin-top: -100%; 
    width:100%;
    margin-left:0%;
}
.H{
    position: relative;
    margin-left: 10%;
    margin-top: 10%;
    width:80%;
    aspect-ratio: 1/1;
    z-index: 2;
}
.Hbackground{
    position: relative;
    width:80%;
    aspect-ratio: 1/1; 
    margin-left: 10%;
    margin-top: -80%;
    z-index: 1;
}
.Hshadow{
    position: relative;
    aspect-ratio: 1/1; 
    margin-top: -80%; 
    width:80%;
    margin-left:10%;
}
.B{
    position: relative;
    margin-left: 10%;
    margin-top: 10%;
    width:80%;
    aspect-ratio: 1/1;
    z-index: 2;
}
.Bbackground{
    position: relative;
    width:80%;
    aspect-ratio: 1/1; 
    margin-left: 10%;
    margin-top: -80%;
    z-index: 1;
}
.Bshadow{
    position: relative;
    width:80%;
    aspect-ratio: 1/1; 
    margin-left: 10%;
    margin-top: -80%;
}
.K{
    position: relative;
    width:95%;
    margin-top:2%;
    margin-left:2%;
    aspect-ratio: 1/1;
    z-index: 2;
}
.Kbackground{
    position: relative;
    aspect-ratio: 1/1; 
    margin-top: -95%; 
    width:95%;
    margin-left:2%;
    z-index: 1;
}
.Kshadow{
    position: relative;
    aspect-ratio: 1/1; 
    margin-top: -96%; 
    width:95%;
    margin-left:2%;
}
.P{
    position: relative;
    margin-left: 20%;
    margin-top: 20%;
    width:60%;
    aspect-ratio: 1/1; 
    z-index: 2;
}
.Pbackground{
    position: relative;
    width:60%;
    aspect-ratio: 1/1; 
    margin-left: 20%;
    margin-top: -60%;
    z-index: 1;
}
.Pshadow{
    position: relative;
    aspect-ratio: 1/1; 
    margin-top: -60%; 
    width:60%;
    margin-left:20%;
}
.screen{
    position: absolute;
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    background-color:rgb(0, 0, 0,.8);
    z-index: 30;
    display: flex;
}
.propeices{
    display: grid;
    height:30%;
    aspect-ratio: 4/1;
    grid-template-columns: auto auto auto auto;
}
.pickwindow{
    margin: auto;
    padding:5%;
    text-align: center;
}
.notvisible{
    display: none;
}
.cube{
    position: relative;
    height:100%;
    aspect-ratio: 1/1;
}
.logitem{
    position: relative;
    display: inline-flex;
    width:100%;
    height: 10%;
    justify-content: space-between;
}
.logspacestart{
    position: relative;
    height:100%;
    aspect-ratio: 1/1;
}
.logpeicestart{
    position: relative;
    height:100%;
    width:100%;
    z-index: 2;
}
.logbackstart{
    position: relative;
    height:100%;
    width:100%;
    top:-100%;
}
.logshadowstart{
    position: relative;
    height:100%;
    width:100%;
    top:-200%;  
}
.logtext{
    margin:0%;
    position: relative;
    text-align: center;
}
.arrow{
    height: 100%;
    aspect-ratio: 1/1;
    clip-path:var(--arrowclip);
}
.sword{
    height: 100%;
    aspect-ratio: 1/1;
    clip-path:var(--swordclip)
}
.special{
    height: 100%;
    aspect-ratio: 1/1;
    clip-path:var(--special)
}
.logspaceend{
    position: relative;
    height:100%;
    aspect-ratio: 1/1;
}
.logpeiceend{
    position: relative;
    height:100%;
    width:100%;
}