.page{
    position:absolute;
    top:10%;
    height:90%;
    width:100%;
    /* display: grid; */
}

.maintile{
    position: absolute;
    border-radius: 10px;
    margin:auto;
    overflow: visible;
    aspect-ratio: 2/1;
}
.grido{
    display: grid;
}
.titlediv{
    position:absolute;
    top:0%;
    font-weight: bold;
    height:20%;
    width:100%;
    text-align: center;
}
.titletext{
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    padding:0%;
}
.inputdiv{
    position:absolute;
    top:22%;
    height:35%;
    width:100%;
    display: flex;
    border:none;
}
input:focus {
    outline-width: 0;
    outline:none;
}
.pvpitem{
    margin-left: 3%;
    height:100%;
    width:70%;
    text-align: center;
    box-sizing: border-box;
    border:none;
}
.magglass{
    position: relative;
    height:100%;
    width:24%;
    display:flex;
    transition: background-color .2s;
}
.magclip{
    height:70%;
    aspect-ratio: 1/1;
    margin:auto;
    background-color:black;
    clip-path:polygon(1.8% 88.4%,36.8% 56.0%,38.2% 56.4%,42.6% 52.8%,41.0% 50.4%,39.0% 46.6%,
    37.6% 43.8%,37.0% 39.2%,36.2% 35.6%,36.2% 33.0%,36.8% 28.4%,37.8% 24.6%,39.2% 20.2%,
    40.8% 17.6%,42.6% 14.6%,44.2% 12.8%,46.6% 10.4%,49.0% 9.0%,51.6% 7.2%,53.8% 6.2%,57.0% 4.8%,
    60.4% 4.0%,64.0% 3.4%,69.4% 3.2%,74.4% 4.0%,79.2% 5.8%,82.8% 7.2%,86.6% 9.8%,89.2% 12.8%,
    91.8% 15.8%,93.8% 19.0%,95.4% 22.0%,96.8% 26.0%,97.8% 32.0%,97.4% 36.6%,96.8% 41.2%,94.8% 46.8%,
    92.6% 51.4%,89.2% 55.2%,85.6% 58.6%,82.4% 60.8%,77.8% 63.0%,74.4% 64.2%,71.4% 64.8%,67.0% 65.0%,
    62.4% 64.8%,56.2% 63.0%,53.6% 61.6%,51.0% 60.2%,
    48.0% 58.4%,
    50.4% 54.8%,
    52.6% 56.8%,54.6% 57.6%,57.6% 59.4%,60.2% 60.2%,65.2% 61.0%,67.8% 61.0%,71.2% 60.8%,
    74.6% 59.4%,78.8% 58.2%,83.0% 55.4%,86.0% 53.0%,88.6% 49.4%,91.2% 45.0%,92.8% 40.6%,
    93.2% 37.4%,93.2% 33.8%,93.0% 29.6%,92.2% 26.6%,91.0% 22.2%,88.8% 18.4%,87.2% 15.2%,
    83.4% 12.2%,80.4% 10.2%,76.0% 8.4%,71.2% 6.8%,67.6% 6.8%,61.8% 7.2%,56.6% 8.8%,52.2% 11.4%,
    47.8% 14.8%,45.6% 17.8%,43.2% 23.2%,41.6% 27.6%,40.6% 32.0%,40.2% 36.0%,41.8% 43.0%,
    43.6% 47.0%,46.2% 50.2%,
    50.4% 54.8%,
    48.4% 58.4%,
    43.6% 62.6%,45.6% 63.8%,12.2% 99.0%,
    1.8% 88.4%,
    49.6% 50.8%,47.8% 48.2%,45.8% 44.6%,44.6% 42.6%,43.4% 39.8%,43.0% 37.6%,42.6% 35.4%,
    42.4% 32.8%,43.2% 32.2%,43.8% 35.4%,44.0% 37.4%,45.0% 39.2%,45.8% 41.6%,47.8% 44.2%,
    48.6% 45.4%,50.6% 47.8%,49.6% 50.8%,
    1.8% 88.4%,
    63.0% 11.0%,67.0% 10.2%,72.0% 10.8%,75.6% 11.4%,78.6% 13.2%,81.6% 15.4%,84.0% 17.0%,
    86.4% 20.0%,87.8% 23.0%,89.4% 25.6%,90.2% 28.2%,90.6% 31.4%,91.0% 33.2%,90.8% 36.6%,
    89.6% 35.8%,89.2% 33.2%,88.4% 29.8%,87.4% 28.8%,86.2% 25.6%,84.8% 23.8%,83.4% 22.2%,
    82.2% 20.8%,80.6% 19.8%,78.8% 17.8%,76.4% 17.0%,74.4% 15.8%,71.0% 15.0%,70.0% 14.6%,
    68.0% 14.4%,66.4% 14.2%,63.0% 11.0%,1.8% 88.4%)
}
.suggestionslide{
    position: absolute;
    top:57%;
    margin-left: 3%;
    width:94%;
    height:0vh;
    z-index: 5;
    overflow: hidden;
    text-align: center;
}
.sugg{
    height:10vh;
    width:100%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    transition: background-color 1s;
}
.vsai{
    height:100%;
    width:100%;
    display: flex;
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
}
.button{
    position: absolute;
    height:35%;
    top:60%;
    height:35%;
    margin-left:10%;
    width:80%;
    display: flex;
    border:none;
    border-radius: 10px;
}
.buttontext{
    height:100%;
    width:70%;
    text-align: center;
    display: flex;
}
.challengesword{
    height:100%;
    width:30%;
    display: flex;
}
.challengeswordclip{
    height:70%;
    aspect-ratio: 1/1;
    margin:auto;
    background-color:black;
    clip-path:polygon(56.8% 69.6%,14.6% 27.2%,15.6% 3.4%,68.8% 57.2%,61.0% 65.6%,20.0% 24.2%,
        20.6% 11.0%,17.4% 8.0%,16.8% 26.2%,58.0% 68.6%,
        56.8% 69.6%,
        57.2% 72.8%,72.0% 57.8%,76.2% 61.6%,59.4% 78.6%,57.2% 72.8%,
        56.8% 69.6%,
        67.0% 74.2%,73.6% 67.8%,77.4% 71.4%,70.8% 78.4%,67.0% 74.2%,
        56.8% 69.6%,
        72.6% 80.4%,79.2% 73.8%,83.2% 77.6%,76.4% 84.2%,72.6% 80.4%,
        56.8% 69.6%,
        78.2% 86.4%,84.6% 79.4%,89.0% 83.0%,82.2% 90.2%,78.2% 86.4%,
        56.8% 69.6%,
        84.0% 92.2%,90.4% 85.2%,94.8% 89.0%,85.8% 97.8%,85.8% 96.8%,85.6% 94.4%,85.2% 93.2%,84.0% 92.2%,
        56.8% 69.6%,
        51.6% 36.4%,85.4% 2.8%,85.4% 26.6%,63.8% 49.0%,62.4% 48.0%,84.0% 26.4%,
        82.8% 8.0%,79.6% 10.8%,80.8% 24.2%,59.8% 45.2%,51.6% 36.4%,
        56.8% 69.6%,
        30.6% 57.8%,36.0% 52.8%,44.2% 61.0%,40.0% 65.0%,42.8% 67.4%,46.4% 64.4%,
        47.8% 65.0%,42.6% 69.8%,30.4% 57.8%,30.6% 57.8%,
        56.8% 69.6%,
        23.6% 62.2%,27.4% 58.8%,42.6% 73.4%,40.2% 78.6%,23.6% 62.2%,
        56.8% 69.6%,
        22.2% 71.8%,26.2% 68.8%,33.0% 75.0%,29.2% 79.2%,22.2% 71.8%,
        56.8% 69.6%,
        16.2% 78.0%,20.4% 74.8%,27.0% 80.8%,23.4% 84.4%,16.2% 78.0%,
        56.8% 69.6%,
        10.6% 83.6%,14.8% 80.4%,21.6% 86.8%,18.2% 90.4%,10.6% 83.6%,
        56.8% 69.6%,
        5.2% 89.4%,8.4% 85.8%,15.8% 92.6%,14.4% 94.0%,14.2% 95.4%,14.2% 96.8%,14.2% 98.6%,5.2% 89.4%)
}

.displayoff{
    display:none;
}

@media only screen and (orientation: landscape) {
    .maintile{
        --divheight:calc(30vw/2);
        --topspace:calc(90vh - var(--divheight));
        width:30vw;
        height:var(--divheight);
        top:calc(var(--topspace) / 2)
    }
    .mainL{
        left:10vw;
    }
    .mainR{
        left:60vw;
    }
}

@media only screen and (orientation: portrait) {
    .maintile{
        left:25%;
        width:50vw;
        height:25vw;
    }
    .mainL{
        --totalspace:calc(90vh - 50vw);
        --thirdspace:calc(var(--totalspace) / 3);
        top:var(--thirdspace);
    }
    .mainR{
        --totalspace:calc(90vh - 50vw);
        --thirdspace:calc(var(--totalspace) * .66);
        top:calc(var(--thirdspace) + 25vw )
    }
}

.clipart{
    height: 50%;
    width:50%;
    grid-row: 1;
    grid-column: 1;
    opacity: 0;
}
.clipart2{
    height: 100%;
    width:100%;
    grid-row: 1;
    grid-column: 1;
}
.glove1{
    clip-path: polygon(
        29.2% 3.6%,
        30.6% 4.1%,31.6% 4.9%,32.2% 6.3%,32.8% 7.6%,33.2% 8.7%,33.3% 9.9%,33.4% 11.9%,33.3% 13.7%,
        33.2% 18.3%,32.8% 20.7%,32.1% 22.5%,31.3% 24.1%,31.4% 27.1%,31.4% 29.5%,31.9% 33.6%,32.5% 36.7%,
        33.5% 39.5%,34.5% 41.2%,35.5% 42.7%,36.8% 44.4%,39.1% 45.9%,41.4% 46.7%,42.8% 47.3%,44.4% 48.3%,
        45.8% 49.3%,47.5% 50.5%,48.9% 51.3%,49.9% 52.3%,51.1% 53.7%,51.8% 55.5%,52.3% 57.5%,52.5% 59.2%,
        52.2% 61.5%,51.6% 62.7%,50.5% 64.0%,49.5% 65.1%,48.5% 65.7%,46.8% 65.9%,44.0% 65.7%,42.5% 64.8%,
        40.8% 63.1%,40.0% 62.0%,39.1% 60.9%,38.3% 60.0%,37.6% 59.9%,36.9% 60.3%,36.5% 62.4%,36.1% 63.6%,
        35.5% 64.9%,34.4% 65.5%,32.9% 66.1%,31.4% 66.3%,30.1% 66.8%,29.2% 67.3%,28.6% 68.1%,28.4% 70.0%,
        28.1% 72.0%,27.9% 75.1%,27.8% 77.1%,27.4% 79.5%,26.9% 80.7%,26.1% 81.5%,25.4% 82.3%,24.9% 83.5%,
        24.1% 84.3%,23.4% 84.4%,22.6% 84.5%,21.6% 83.5%,20.9% 82.3%,19.4% 79.5%,19.4% 80.7%,20.1% 83.5%,
        21.1% 86.0%,21.6% 88.0%,21.6% 89.9%,21.8% 92.0%,21.6% 93.9%,20.9% 96.4%,20.4% 96.9%,19.4% 98.0%,
        18.4% 98.0%,17.8% 97.6%,16.8% 96.4%,16.0% 93.2%,15.3% 90.3%,14.6% 88.0%,13.8% 85.3%,13.3% 83.5%,
        13.0% 81.6%,12.8% 79.7%,12.6% 78.0%,12.4% 75.6%,12.6% 72.7%,12.8% 70.7%,13.1% 68.7%,13.4% 66.9%,
        13.8% 65.5%,13.8% 64.1%,13.3% 62.8%,12.9% 60.8%,12.8% 58.7%,12.8% 55.6%,13.1% 53.6%,15.6% 44.1%,
        15.6% 41.3%,15.3% 39.3%,14.8% 36.3%,14.6% 33.7%,14.3% 31.5%,14.6% 28.4%,15.2% 26.1%,16.1% 24.0%,
        17.4% 22.9%,18.8% 22.7%,19.8% 22.7%,21.1% 23.3%,22.6% 25.5%,22.8% 24.7%,22.9% 22.0%,23.4% 19.5%,
        24.1% 17.3%,25.0% 14.1%,25.6% 11.5%,26.2% 9.1%,27.0% 6.1%,27.2% 5.1%,28.6% 3.9%,29.2% 3.6%,

        29.4% 4.4%,28.4% 4.5%,27.6% 5.6%,27.2% 7.6%,26.4% 10.3%,26.0% 12.1%,25.4% 14.3%,24.9% 16.8%,
        24.2% 18.4%,23.6% 19.7%,23.3% 22.3%,23.2% 24.0%,23.2% 25.5%,23.4% 27.3%,24.4% 29.9%,25.8% 33.3%,
        26.8% 35.3%,27.8% 38.1%,28.4% 40.1%,28.6% 42.1%,28.2% 43.6%,27.8% 44.9%,26.9% 46.3%,26.1% 47.3%,
        24.8% 47.5%,23.4% 47.5%,22.2% 46.7%,21.1% 45.3%,19.9% 43.6%,19.3% 42.5%,18.6% 40.8%,18.0% 39.1%,
        17.8% 38.5%,17.4% 37.2%,17.1% 35.7%,18.0% 37.7%,19.6% 41.6%,20.9% 43.6%,21.8% 45.3%,22.6% 46.0%,
        23.4% 46.8%,24.1% 46.9%,25.4% 46.8%,26.4% 46.0%,27.1% 44.8%,28.0% 42.8%,28.1% 41.1%,27.6% 39.5%,
        23.6% 29.2%,22.8% 27.5%,22.0% 25.9%,21.0% 24.7%,19.9% 23.7%,18.8% 23.3%,17.8% 23.7%,16.6% 24.9%,
        15.7% 26.3%,15.2% 28.3%,15.0% 30.8%,15.0% 35.1%,15.8% 39.6%,16.4% 44.5%,16.6% 47.1%,16.1% 45.9%,
        15.8% 45.5%,15.1% 47.5%,14.8% 49.3%,14.3% 51.1%,13.4% 54.3%,13.3% 56.7%,13.3% 59.6%,14.1% 63.1%,
        14.4% 65.2%,

        14.0% 67.1%,13.8% 69.6%,13.2% 71.6%,13.1% 75.6%,13.3% 78.3%,13.6% 81.5%,14.8% 85.5%,15.6% 88.5%,
        16.4% 91.9%,17.0% 94.3%,17.6% 96.4%,18.6% 96.9%,19.6% 96.8%,20.4% 95.9%,21.2% 93.9%,21.4% 91.9%,
        21.4% 90.7%,21.4% 89.3%,21.1% 88.0%,20.6% 85.9%,19.6% 83.2%,19.1% 80.7%,18.9% 79.6%,18.9% 78.5%,
        18.4% 77.1%,17.6% 75.6%,16.6% 74.3%,15.6% 72.4%,15.2% 71.1%,14.4% 66.7%,

        14.7% 66.3%,15.2% 68.7%,15.9% 72.0%,17.4% 74.1%,18.8% 76.3%,19.6% 77.7%,20.6% 80.0%,21.1% 81.2%,
        21.8% 82.5%,22.4% 83.5%,23.0% 83.9%,23.6% 83.7%,24.4% 83.1%,25.0% 81.9%,25.6% 80.5%,25.6% 78.0%,
        25.6% 75.5%,25.6% 74.1%,25.3% 73.1%,24.8% 71.1%,23.6% 68.8%,22.8% 67.6%,21.6% 66.1%,20.6% 65.1%,
        19.8% 64.0%,20.1% 63.5%,20.6% 64.3%,21.0% 63.3%,20.9% 61.1%,20.8% 58.8%,20.2% 57.1%,19.8% 55.5%,
        19.4% 54.1%,19.0% 53.5%,18.4% 52.7%,18.1% 52.5%,18.0% 52.1%,18.8% 52.0%,19.4% 53.3%,19.9% 51.9%,
        20.3% 55.5%,20.9% 57.7%,21.4% 60.0%,21.4% 62.8%,21.4% 64.7%,22.2% 65.7%,23.8% 68.0%,25.1% 70.5%,
        25.9% 73.3%,26.0% 76.7%,25.9% 79.9%,26.3% 80.3%,26.8% 79.5%,27.1% 77.3%,27.4% 74.9%,27.6% 71.9%,
        27.9% 69.2%,28.2% 67.6%,28.9% 66.5%,29.4% 66.0%,30.4% 65.6%,31.9% 65.3%,33.3% 65.1%,35.0% 64.3%,
        35.5% 63.3%,35.9% 62.0%,36.1% 60.8%,36.4% 60.3%,36.0% 59.9%,36.9% 58.9%,37.6% 59.1%,39.0% 59.5%,
        40.2% 60.8%,41.1% 62.0%,42.0% 63.1%,43.4% 64.4%,44.9% 64.9%,45.9% 65.1%,48.4% 64.7%,50.0% 63.5%,
        51.0% 62.1%,51.5% 60.4%,51.8% 57.9%,51.5% 55.6%,51.0% 54.3%,48.8% 52.3%,46.0% 50.0%,44.4% 49.6%,
        42.8% 48.3%,41.4% 47.9%,39.6% 47.5%,37.8% 46.1%,35.8% 44.5%,34.5% 42.5%,32.8% 39.1%,33.0% 43.1%,
        31.9% 38.3%,31.6% 35.2%,31.4% 32.4%,30.9% 28.7%,30.8% 25.1%,29.9% 25.9%,28.8% 26.8%,27.6% 27.1%,
        26.2% 27.1%,25.1% 26.7%,24.4% 26.3%,23.9% 26.0%,24.1% 25.2%,25.1% 25.7%,26.1% 26.3%,26.6% 26.3%,
        27.9% 25.7%,28.8% 25.3%,30.0% 23.9%,31.1% 22.3%,31.8% 21.1%,32.6% 18.9%,32.8% 15.9%,32.9% 12.4%,
        32.9% 10.3%,33.0% 9.3%,32.3% 8.0%,32.0% 6.9%,30.6% 5.2%,29.4% 4.4%,29.2% 3.6%
    );
    background-color: black;
}
.glove2{
    clip-path: polygon(
        30.5% 5.3%,31.3% 5.7%,31.8% 6.0%,32.2% 7.3%,32.5% 8.3%,31.5% 9.0%,30.7% 9.4%,29.8% 10.3%,
        29.2% 11.4%,28.5% 13.7%,28.0% 15.9%,27.7% 17.6%,28.0% 19.3%,28.1% 21.3%,28.6% 22.3%,29.2% 22.8%,
        30.1% 22.4%,31.0% 22.4%,30.3% 23.7%,29.3% 25.1%,28.1% 25.7%,27.0% 26.3%,26.0% 26.3%,25.0% 25.9%,
        24.1% 25.1%,24.0% 24.4%,24.0% 23.7%,24.3% 22.9%,24.5% 22.1%,25.0% 21.1%,25.5% 19.3%,26.0% 17.6%,
        26.3% 16.0%,26.6% 13.4%,27.2% 11.6%,27.5% 10.4%,28.1% 8.7%,28.6% 7.6%,29.2% 6.8%,30.2% 5.8%,30.5% 5.3%,

        17.3% 35.3%,17.8% 36.4%,19.0% 37.4%,19.8% 38.0%,20.8% 37.6%,21.6% 36.9%,22.1% 36.0%,22.6% 34.7%,
        23.0% 33.7%,22.9% 32.0%,22.7% 30.6%,22.6% 29.1%,22.5% 28.1%,22.2% 26.7%,23.5% 28.8%,24.0% 30.6%,
        24.7% 31.9%,24.9% 33.4%,24.8% 36.1%,24.8% 38.3%,24.5% 40.6%,23.8% 42.3%,22.6% 43.3%,21.5% 43.6%,
        20.9% 43.6%,20.3% 42.8%,19.8% 42.0%,19.0% 40.6%,18.6% 39.3%,18.2% 38.0%,17.3% 35.3%,
        30.5% 5.3%,
        18.0% 42.7%,18.3% 44.3%,19.2% 45.8%,20.2% 46.4%,21.5% 46.8%,22.5% 46.8%,23.2% 47.3%,
        24.0% 47.4%,25.2% 47.3%,26.3% 46.8%,27.3% 45.8%,27.8% 44.6%,28.4% 42.9%,28.5% 41.6%,
        28.5% 40.4%,28.0% 39.0%,24.3% 30.0%,24.2% 30.0%,24.6% 30.3%,24.8% 29.8%,24.6% 28.3%,
        24.4% 27.3%,24.0% 25.9%,24.4% 26.4%,25.0% 26.7%,25.5% 26.7%,26.0% 27.1%,26.5% 27.3%,
        26.5% 27.8%,26.5% 29.9%,26.6% 31.6%,26.8% 32.9%,27.5% 35.3%,28.0% 37.1%,28.5% 38.1%,
        29.0% 38.9%,29.5% 39.3%,30.0% 39.4%,30.8% 39.4%,31.0% 38.7%,31.3% 37.9%,31.3% 36.9%,
        31.7% 36.0%,32.7% 42.9%,33.0% 43.0%,33.5% 45.0%,34.0% 47.1%,34.3% 48.6%,35.5% 49.9%,
        37.0% 50.8%,38.6% 51.3%,40.0% 51.4%,42.8% 51.6%,43.7% 51.3%,44.6% 50.9%,45.0% 50.3%,
        45.8% 50.0%,46.8% 50.6%,48.0% 51.6%,49.3% 52.4%,50.0% 53.3%,51.0% 54.3%,51.4% 55.3%,
        51.5% 56.3%,51.8% 57.7%,51.6% 58.8%,51.2% 58.3%,50.7% 57.3%,50.1% 56.8%,49.7% 56.0%,
        49.0% 55.4%,47.2% 55.3%,45.5% 55.6%,43.4% 55.7%,42.0% 56.0%,41.0% 56.7%,40.5% 57.1%,
        40.3% 58.4%,40.0% 60.7%,39.1% 59.8%,38.4% 59.3%,37.7% 58.8%,37.2% 58.8%,36.3% 59.3%,
        36.0% 58.0%,35.5% 56.6%,35.1% 55.4%,34.3% 54.3%,33.5% 53.6%,32.6% 53.4%,31.0% 54.4%,
        29.7% 56.0%,29.2% 56.9%,28.8% 58.1%,28.5% 59.4%,28.4% 60.7%,28.2% 62.4%,28.0% 63.6%,
        27.6% 64.4%,26.9% 65.3%,26.1% 65.7%,25.5% 65.8%,24.8% 66.1%,24.3% 66.1%,23.9% 66.3%,
        24.1% 67.0%,24.5% 68.3%,24.2% 68.9%,23.8% 68.0%,23.3% 67.3%,22.7% 66.4%,22.1% 65.8%,
        21.5% 65.3%,21.3% 64.4%,21.2% 61.9%,21.1% 59.7%,21.6% 59.7%,22.0% 59.6%,22.2% 58.9%,
        22.4% 57.0%,23.0% 54.8%,23.8% 53.8%,23.8% 56.0%,23.4% 56.8%,23.0% 58.6%,23.0% 60.3%,
        23.5% 60.8%,24.5% 61.4%,25.3% 61.0%,25.8% 59.9%,26.1% 58.7%,26.0% 57.3%,26.2% 56.1%,
        26.5% 55.0%,26.3% 54.4%,25.2% 54.9%,24.2% 55.8%,

        24.2% 53.9%,25.6% 53.3%,26.6% 52.8%,27.1% 52.3%,28.0% 52.7%,28.8% 52.4%,30.0% 51.3%,32.0% 50.1%,
        32.4% 48.8%,32.5% 46.3%,32.3% 45.1%,30.8% 44.7%,29.5% 44.6%,28.5% 45.6%,27.6% 46.7%,25.3% 48.6%,
        23.3% 50.6%,22.0% 52.0%,21.4% 52.9%,20.7% 53.9%,20.5% 54.3%,20.5% 56.0%,20.2% 54.9%,20.3% 52.3%,
        19.8% 51.7%,19.7% 52.8%,19.5% 53.3%,19.0% 52.6%,18.5% 52.3%,17.9% 51.9%,18.0% 52.3%,17.3% 53.3%,
        17.1% 55.4%,17.2% 57.6%,17.2% 59.7%,18.0% 61.1%,19.0% 62.6%,19.8% 63.6%,19.8% 63.8%,20.0% 64.6%,
        21.5% 66.1%,21.3% 68.0%,21.6% 69.9%,22.3% 71.6%,22.9% 73.0%,23.8% 74.7%,24.1% 76.6%,24.0% 78.1%,
        23.6% 79.8%,23.2% 81.3%,22.2% 83.4%,21.7% 82.6%,21.3% 81.9%,20.3% 79.8%,20.8% 75.8%,19.4% 72.6%,
        18.9% 72.6%,18.2% 72.0%,17.0% 69.9%,16.1% 67.3%,15.4% 65.3%,15.0% 62.8%,14.6% 61.3%,14.8% 58.8%,
        15.1% 56.1%,15.3% 53.8%,16.3% 50.3%,17.5% 44.6%,18.0% 42.7%,
        30.5% 5.3%,
        16.5% 74.6%,19.0% 78.1%,18.9% 79.9%,19.3% 81.8%,19.7% 83.1%,20.0% 84.3%,19.7% 84.6%,19.5% 85.4%,
        19.2% 86.9%,19.0% 89.4%,18.8% 95.0%,19.2% 96.6%,19.4% 97.1%,18.8% 97.0%,17.7% 96.6%,17.0% 95.3%,
        16.4% 92.3%,15.8% 89.3%,15.5% 86.3%,15.2% 82.8%,15.0% 80.9%,15.0% 78.8%,
        15.3% 76.8%,15.8% 75.4%,16.5% 74.6%,
        30.5% 5.3%
    );
    background-color:rgb(114, 114, 114) ;
}
.glove3{
    clip-path: polygon(
        30.5% 5.1%,29.9% 6.3%,28.9% 7.4%,28.0% 8.7%,27.5% 9.9%,27.1% 11.1%,26.7% 12.6%,26.3% 15.3%,
        25.9% 17.3%,25.7% 19.1%,25.2% 20.9%,24.8% 22.1%,24.0% 23.1%,23.9% 24.3%,23.9% 25.6%,24.1% 26.7%,
        24.5% 27.8%,24.8% 29.4%,24.8% 30.3%,24.5% 30.4%,24.0% 29.6%,23.8% 29.0%,23.5% 28.4%,23.3% 27.4%,
        23.1% 25.6%,23.0% 22.8%,23.7% 20.3%,24.0% 18.6%,24.5% 17.1%,25.3% 14.3%,25.8% 11.9%,26.3% 10.3%,
        26.9% 7.9%,27.6% 5.6%,28.2% 4.7%,28.8% 4.6%,29.8% 4.7%,
        30.5% 5.1%,
        32.5% 38.6%,33.5% 40.0%,34.3% 41.6%,35.2% 43.1%,36.0% 44.3%,37.0% 45.0%,38.1% 46.3%,39.2% 46.9%,
        40.3% 47.3%,41.5% 47.3%,42.8% 48.3%,44.0% 48.8%,45.0% 49.6%,45.4% 50.3%,45.0% 51.1%,43.7% 51.4%,
        42.3% 51.8%,40.5% 51.7%,39.1% 51.4%,37.7% 51.3%,36.6% 50.9%,35.3% 49.9%,34.6% 49.0%,34.0% 47.7%,
        33.5% 45.3%,33.0% 43.3%,33.0% 42.8%,32.8% 40.4%,32.5% 38.6%,
        30.5% 5.1%,
        23.0% 61.3%,23.0% 60.3%,23.3% 58.3%,23.6% 57.1%,23.9% 55.9%,24.5% 55.1%,25.3% 54.4%,26.0% 54.3%,
        26.6% 54.4%,26.5% 55.4%,26.3% 56.4%,26.1% 57.4%,26.2% 58.1%,26.0% 59.3%,26.0% 59.7%,25.7% 61.3%,
        25.0% 61.3%,24.2% 61.3%,23.9% 61.3%,23.3% 61.0%,23.0% 61.3%,
        30.5% 5.1%,
        16.7% 47.3%,16.5% 46.0%,16.3% 43.8%,16.0% 41.8%,15.9% 40.3%,15.6% 38.7%,15.3% 37.4%,15.1% 36.3%,
        14.8% 33.9%,14.8% 31.7%,15.0% 28.8%,15.3% 27.1%,15.7% 25.9%,16.2% 25.0%,17.1% 24.0%,18.0% 23.3%,
        18.9% 23.3%,20.2% 23.6%,20.9% 24.3%,21.7% 24.8%,22.5% 26.1%,22.7% 27.6%,22.8% 29.1%,23.0% 31.4%,
        23.1% 33.0%,22.6% 34.7%,22.2% 36.0%,21.5% 36.7%,21.1% 37.4%,20.2% 38.1%,19.4% 38.0%,18.7% 37.3%,
        18.1% 36.8%,17.1% 35.1%,17.1% 35.7%,17.1% 37.1%,17.5% 40.4%,17.9% 43.3%,17.5% 45.9%,16.8% 48.3%,
        16.1% 51.3%,15.5% 53.3%,15.2% 55.6%,14.8% 58.3%,14.8% 60.8%,15.1% 63.0%,15.6% 66.3%,16.4% 67.8%,
        17.2% 70.0%,17.8% 71.8%,18.6% 72.7%,19.7% 73.3%,20.5% 75.6%,20.3% 78.8%,20.0% 79.3%,19.5% 78.0%,
        18.8% 77.1%,18.2% 76.1%,17.3% 74.6%,16.3% 73.3%,15.6% 71.9%,15.1% 69.4%,14.5% 66.7%,14.1% 64.9%,
        13.8% 63.0%,13.2% 61.4%,13.1% 59.6%,13.0% 54.9%,13.3% 53.7%,13.8% 51.8%,14.3% 49.7%,14.8% 48.1%,
        15.6% 45.7%,15.8% 45.6%,16.7% 47.3%,
        30.5% 5.1%,
        14.2% 66.3%,14.7% 67.9%,15.0% 69.7%,15.2% 71.3%,15.6% 72.1%,16.3% 73.6%,16.6% 74.3%,16.1% 75.4%,
        15.6% 76.4%,15.2% 77.3%,15.2% 78.4%,15.2% 81.3%,15.3% 83.1%,15.6% 85.0%,15.8% 87.3%,16.0% 88.3%,
        15.6% 88.4%,14.9% 86.7%,14.5% 84.4%,13.7% 81.9%,13.3% 80.1%,13.0% 78.3%,13.0% 75.4%,13.0% 73.6%,
        12.9% 71.9%,13.5% 68.9%,14.2% 66.3%,
        30.5% 5.1%
        );
        background-color:rgb(53, 53, 53) ;
}
.glove4{
    clip-path: polygon(
        32.3% 8.3%,33.0% 9.3%,33.0% 18.3%,32.3% 20.1%,31.7% 21.7%,31.3% 22.7%,30.7% 23.3%,30.0% 23.0%,
        29.0% 22.6%,28.3% 21.6%,28.0% 20.7%,27.7% 18.4%,27.6% 17.4%,27.8% 16.3%,28.2% 14.3%,28.8% 12.1%,
        29.3% 10.9%,30.0% 9.9%,30.5% 9.3%,31.3% 8.8%,31.9% 8.6%,
        32.3% 8.3%,
        26.5% 27.3%,27.3% 27.1%,28.3% 26.9%,29.3% 26.3%,30.0% 25.8%,31.0% 24.9%,31.0% 28.1%,31.1% 30.1%,
        31.5% 32.6%,31.6% 35.3%,31.5% 37.3%,31.0% 39.3%,30.5% 39.9%,29.5% 39.7%,28.5% 38.8%,28.0% 37.6%,
        27.5% 35.9%,26.7% 34.0%,26.5% 32.1%,26.2% 29.6%,26.2% 27.7%,26.2% 26.9%,27.0% 26.9%,28.4% 26.9%,
        29.3% 25.9%,26.5% 27.3%,
        32.3% 8.3%,
        24.9% 32.6%,25.7% 34.3%,26.4% 35.8%,27.0% 37.1%,27.5% 38.4%,28.0% 39.8%,28.2% 40.9%,28.2% 42.0%,
        27.8% 43.9%,27.5% 44.7%,27.0% 45.6%,26.3% 46.3%,25.3% 47.1%,24.5% 47.1%,23.5% 47.0%,22.7% 46.3%,
        22.1% 45.7%,21.4% 45.3%,20.8% 43.7%,21.5% 43.7%,22.4% 43.3%,23.2% 42.7%,23.8% 41.9%,24.3% 40.6%,
        24.5% 39.1%,24.9% 37.3%,24.9% 35.3%,25.0% 33.9%,24.9% 32.6%,
        32.3% 8.3%,
        17.0% 35.9%,17.5% 37.3%,18.0% 38.4%,18.5% 40.1%,19.1% 41.6%,19.6% 42.4%,20.1% 43.3%,
        20.7% 44.3%,21.3% 45.3%,21.8% 45.9%,22.7% 46.7%,22.1% 47.0%,21.3% 46.9%,20.8% 46.7%,
        20.0% 46.6%,19.0% 45.7%,18.3% 44.8%,18.0% 43.8%,17.6% 42.1%,17.2% 40.7%,17.1% 38.3%,17.0% 35.9%,
        32.3% 8.3%,
        20.3% 54.3%,21.5% 52.8%,22.5% 51.3%,23.5% 49.9%,24.8% 48.7%,26.2% 47.8%,27.7% 46.6%,28.8% 45.3%,
        30.0% 44.7%,31.0% 44.6%,31.8% 44.6%,32.3% 45.6%,32.5% 46.8%,32.5% 48.4%,32.1% 50.0%,30.8% 50.9%,
        29.8% 51.9%,28.5% 52.6%,27.7% 52.6%,27.1% 52.3%,26.5% 52.8%,25.8% 53.3%,24.8% 53.8%,23.5% 54.3%,
        22.7% 55.3%,22.5% 56.1%,22.3% 57.3%,22.1% 59.6%,21.3% 59.6%,21.1% 58.7%,21.0% 58.0%,20.7% 57.6%,
        20.5% 57.0%,20.3% 54.3%,
        32.3% 8.3%,
        20.4% 84.3%,20.6% 85.4%,21.0% 87.0%,21.3% 88.9%,21.5% 90.8%,21.5% 92.1%,21.3% 94.3%,
        20.8% 95.3%,20.4% 96.1%,19.8% 96.9%,19.2% 96.9%,18.9% 96.4%,18.8% 93.9%,18.8% 90.4%,
        18.8% 89.3%,19.0% 87.6%,19.2% 85.9%,19.3% 85.3%,19.8% 84.4%,20.4% 84.3%,
        32.3% 8.3%,
        21.3% 65.9%,22.0% 66.6%,22.8% 67.4%,23.3% 68.3%,24.0% 69.3%,24.5% 70.1%,25.0% 71.6%,
        25.5% 73.0%,25.7% 74.1%,25.6% 75.9%,25.7% 78.1%,25.8% 80.1%,25.3% 81.3%,24.9% 82.6%,
        24.2% 83.9%,23.2% 84.1%,22.6% 83.9%,22.0% 83.3%,22.7% 81.8%,23.2% 80.7%,23.6% 79.3%,
        23.9% 77.9%,24.1% 77.4%,24.0% 75.9%,23.7% 74.9%,23.3% 73.4%,23.0% 73.0%,22.3% 72.0%,
        21.8% 71.3%,21.3% 69.1%,21.2% 67.8%,21.2% 67.1%,21.3% 65.9%,
        32.3% 8.3%,
        24.1% 68.9%,24.5% 68.6%,24.3% 67.9%,24.0% 67.3%,24.0% 66.7%,24.0% 66.3%,24.7% 66.0%,
        25.7% 65.9%,26.5% 65.4%,27.3% 64.7%,28.0% 63.8%,28.2% 61.3%,28.4% 59.8%,28.8% 58.4%,
        29.2% 56.9%,29.6% 55.7%,30.4% 54.8%,31.2% 54.0%,32.0% 53.6%,33.1% 53.4%,34.0% 53.9%,
        34.9% 54.8%,35.5% 56.0%,36.0% 57.0%,36.2% 58.0%,36.3% 60.0%,36.1% 62.3%,35.7% 63.3%,
        35.1% 64.3%,34.3% 65.0%,32.7% 65.3%,31.3% 65.7%,30.3% 65.8%,29.3% 66.3%,28.8% 67.0%,
        28.3% 68.4%,28.0% 70.1%,27.8% 72.6%,27.5% 75.3%,27.1% 78.1%,26.7% 79.9%,26.0% 80.6%,
        25.8% 79.4%,25.9% 78.3%,26.0% 76.8%,26.0% 75.3%,26.0% 74.7%,25.8% 73.6%,25.6% 72.3%,
        25.3% 71.1%,24.8% 70.1%,24.5% 69.8%,24.1% 68.9%,
        32.3% 8.3%,
        17.2% 59.9%,17.0% 57.3%,17.1% 55.6%,17.3% 54.0%,17.5% 53.0%,18.2% 52.7%,19.0% 53.3%,
        19.4% 54.3%,19.8% 56.0%,20.3% 57.3%,20.7% 58.3%,20.9% 59.6%,21.0% 61.9%,21.0% 63.6%,
        20.8% 64.3%,20.2% 63.7%,19.5% 63.3%,18.5% 61.8%,17.2% 59.9%,
        32.3% 8.3%,
        39.8% 60.6%,40.0% 58.6%,40.3% 57.1%,40.8% 56.3%,41.4% 56.0%,42.0% 55.9%,43.6% 55.6%,
        45.5% 55.3%,48.2% 55.3%,49.0% 55.6%,49.7% 55.9%,50.5% 57.0%,51.1% 58.0%,51.5% 58.9%,
        51.5% 60.3%,51.4% 61.3%,51.0% 62.4%,50.5% 63.4%,49.8% 64.3%,49.2% 64.6%,48.5% 64.9%,
        47.6% 65.3%,46.9% 65.6%,45.3% 65.3%,44.2% 65.1%,42.9% 64.3%,41.7% 63.3%,40.7% 61.9%,39.8% 60.6%,
        32.3% 8.3%
        );
    background-color: rgb(185, 185, 185);
}

.giant1{
    clip-path: polygon(
        61.0% 59.2%,61.0% 31.6%,61.0% 29.9%,61.6% 26.4%,62.5% 22.8%,63.4% 20.4%,
        64.2% 17.9%,65.7% 14.9%,67.5% 12.1%,69.0% 10.7%,70.6% 8.9%,71.8% 8.0%,73.0% 7.5%,74.5% 7.2%,
        76.3% 49.7%,78.7% 7.5%,80.0% 8.1%,81.3% 8.9%,82.5% 9.9%,84.0% 11.7%,85.0% 12.9%,86.2% 14.7%,
        87.0% 16.3%,87.8% 17.9%,89.0% 21.2%,89.8% 24.0%,90.3% 26.3%,90.8% 28.5%,91.0% 31.1%,90.8% 59.9%,
        89.5% 61.6%,86.5% 63.6%,84.4% 64.4%,82.0% 65.3%,79.5% 66.0%,76.7% 65.9%,71.2% 65.1%,69.0% 64.8%,
        66.6% 63.9%,64.5% 62.9%,63.0% 61.7%,61.5% 60.3%,61.0% 59.2%,
        74.6% 6.7%,76.7% 1.5%,76.5% 48.0%,74.6% 6.7%,
        61.0% 59.2%,
        58.1% 33.7%,59.5% 33.2%,59.4% 40.1%,58.0% 39.2%,58.1% 33.7%,
        61.0% 59.2%,
        92.7% 33.1%,93.6% 33.1%,93.8% 39.1%,92.5% 39.9%,92.7% 33.1%,
        61.0% 59.2%,
        59.5% 60.0%,60.3% 60.9%,61.2% 62.4%,62.1% 62.9%,63.1% 63.6%,64.8% 64.4%,66.3% 64.9%,
        67.5% 65.3%,68.5% 65.6%,68.5% 90.3%,67.3% 89.7%,66.4% 89.5%,65.4% 88.5%,64.0% 87.5%,
        62.8% 86.3%,61.8% 84.9%,60.8% 83.9%,60.1% 82.8%,59.6% 82.1%,59.5% 60.0%,
        61.0% 59.2%,
        68.6% 65.7%,71.2% 66.3%,74.3% 66.7%,76.3% 66.9%,79.0% 66.7%,81.7% 66.5%,83.3% 66.4%,
        83.4% 89.9%,81.6% 90.7%,80.0% 91.1%,78.7% 91.5%,73.5% 91.5%,71.8% 91.1%,70.3% 90.5%,
        69.2% 90.3%,68.6% 65.7%,
        61.0% 59.2%,
        83.7% 66.1%,85.2% 65.9%,86.4% 65.5%,87.8% 65.1%,89.0% 64.3%,90.2% 63.5%,91.0% 62.7%,
        92.3% 61.2%,92.3% 81.6%,91.5% 83.1%,90.3% 84.7%,89.0% 86.3%,87.5% 87.5%,86.0% 88.8%,
        85.2% 89.2%,83.8% 89.7%,83.7% 66.1%,
        61.0% 59.2%
        );
        background-color: rgb(74,85,77);
}
.giant2{
    clip-path:polygon( 
        77.0% 1.9%,76.5% 44.8%,78.4% 6.4%,
        77.0% 1.9%,
        59.6% 32.1%,59.6% 59.8%,60.4% 61.1%,61.5% 62.3%,63.1% 63.3%,65.2% 64.4%,66.6% 64.8%,
        67.5% 64.8%,65.8% 63.9%,64.6% 63.5%,63.5% 62.7%,62.8% 62.0%,62.1% 61.5%,61.6% 60.8%,
        61.0% 59.9%,60.6% 59.3%,60.6% 32.3%,59.6% 32.1%,
        77.0% 1.9%,
        91.0% 31.1%,91.2% 59.6%,90.5% 60.8%,90.0% 61.7%,89.3% 62.4%,88.5% 63.1%,87.4% 63.6%,
        84.5% 64.9%,86.5% 64.8%,87.8% 64.1%,89.0% 63.5%,90.0% 62.7%,91.0% 61.9%,91.6% 61.2%,
        92.2% 60.3%,92.3% 31.5%,91.0% 31.1%,
        77.0% 1.9%
        );
    background-color: grey;
    }
.giant3{
    clip-path:polygon(
        69.2% 26.8%,70.4% 27.3%,71.2% 28.1%,72.0% 29.2%,72.2% 29.7%,72.7% 30.9%,73.0% 31.9%,73.2% 33.7%,
        73.2% 34.7%,73.3% 35.6%,73.2% 37.5%,73.0% 39.2%,72.7% 40.3%,72.3% 41.3%,71.6% 42.7%,70.8% 43.6%,
        70.3% 44.3%,69.5% 44.7%,68.4% 44.3%,67.8% 43.9%,67.0% 43.1%,66.3% 42.1%,66.0% 41.2%,65.6% 39.9%,
        65.4% 39.2%,65.3% 38.0%,65.0% 36.9%,65.2% 35.6%,65.3% 33.6%,65.6% 31.5%,66.0% 30.0%,66.8% 28.8%,
        67.2% 28.1%,67.4% 27.9%,68.5% 27.1%,
        69.2% 26.8%,
        84.4% 26.7%,85.4% 27.1%,86.2% 27.9%,86.8% 28.9%,87.3% 29.9%,87.8% 31.2%,88.0% 32.8%,
        88.2% 34.3%,88.2% 35.9%,88.0% 37.5%,87.8% 39.6%,87.0% 41.9%,86.4% 42.7%,85.8% 43.6%,
        85.0% 44.3%,84.0% 44.3%,82.8% 43.7%,82.2% 42.9%,81.5% 42.3%,81.3% 41.6%,80.8% 40.7%,
        80.5% 39.6%,80.3% 38.7%,80.2% 37.5%,80.0% 36.7%,80.0% 35.1%,80.2% 34.0%,80.5% 31.6%,
        81.0% 30.3%,81.7% 29.1%,82.2% 28.0%,83.0% 27.5%,83.5% 27.1%,84.4% 26.7%,
        69.2% 26.8%
    );
    background-color: rgb(255, 255, 162);
}
.giant4{
    clip-path:polygon(
        73.4% 39.5%,64.8% 29.9%,65.0% 25%,74.0% 28.5%,74.0% 40.0%,73.4% 39.5%,
        73.4% 39.5%,
        64.8% 39.6%,72.7% 42.5%,73.0% 46.0%,63.0% 45.6%,62.6% 38.9%,64.8% 39.6%,
        73.4% 39.5%,
        88.4% 30.4%,79.3% 39.3%,78.8% 25%,88.8% 25%,88.4% 30.4%,
        73.4% 39.5%,
        80.3% 42.1%,88.6% 38.9%,88.5% 44%,80.0% 46%,80.3% 42.1%,
        73.4% 39.5%
    );
    background-color: rgb(74,85,77);
    opacity: 0;
}